/* color pallette credit to Waaark https://visme.co/blog/website-color-schemes/ */

/* root color pallette used for ease of changes */
:root {
  --light: #a8d0e6;
  --dark: #24305e;
  --accentMelon: #f76c6c;
  --accentYellow: #f8e9a1;
  --accentBlue: #374785;
}

/* universal values to applied across the page to establish baseline styling  */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: var(--dark);
  background-color: var(--light);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.site-header {
  width: 100%;
}
/* flexbox created to help responsiveness */
.site-header nav {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 0px 30px 0px;
  text-decoration: none;
  justify-content: space-between;
  background-color: var(--dark);
  width: 100%;
  align-items: center;
}

h2 {
  font-size: 30px;
}

.site-header h1 {
  font-size: 40px;
  color: var(--dark);
  background-color: var(--accentMelon);
  height: 40px;
  width: 300px;
  text-align: center;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
}

/* flexbox created to help responsiveness */
.site-header nav ul {
  display: flex;
  background-color: var(--dark);
  margin-top: 5px;
  justify-content: space-around;
  margin: 10px;
}

.site-header nav ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 40px;
  text-decoration: none;
  flex-direction: column;
  background-color: var(--dark);
}

.site-header nav ul li a {
  background-color: var(--dark);
  color: var(--accentMelon);
}

.wall {
  background-image: url(".../assets/IMGs/bharath-g-s-aLGiPJ4XRO4-unsplash.jpg");
  height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

/* flexbox created to help responsiveness */
.work {
  display: flex;
  flex-flow: column wrap;
  height: 100px;
  background-color: var(--accentBlue);
  padding: 5px;
}

.project-cards h2 {
  background-color: var(--accentMelon);
  padding: 15px;
  text-align: center;
  width: 100%;
  color: var(--dark);
}

.project-cards h4 {
  margin: 5px;
}

/* flexbox created to help responsiveness */
.project-cards {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.project-cards a {
  border: 2px solid var(--accentBlue);
  padding: 5px;
  margin: 5px;
}

a:hover {
  border-color: var(--accentMelon);
}

#derek {
  border: 2px solid var(--accentMelon);
}

/* flexbox created to help responsiveness */
.about-me {
  display: flex;
  flex-flow: column wrap;
  margin: 20px;
  background-color: var(--accentYellow);
  border: 5px solid var(--accentBlue);
}

.about-me h2 {
  padding: 15px;
  flex-basis: 100%;
  align-items: center;
  text-align: center;
  background-color: var(--accentYellow);
}

.about-me p {
  padding: 15px;
  text-align: center;
  background-color: var(--accentYellow);
}

#derek {
  margin: auto;
}

/* flexbox created to help responsiveness */
.footer-bar nav {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  background-color: var(--accentMelon);
}

.footer-bar h2 {
  margin: 20px;
  background-color: var(--accentMelon);
}

.footer-bar nav ul {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--accentMelon);
  margin-bottom: 10px;
  list-style-type: none;
}

#footer-anchors {
  background-color: var(--accentMelon);
  color: var(--dark);
}

/* values below used to adjust site responsively to smaller screen size */
@media screen and (max-width: 768px) {
  .site-header {
    flex-flow: column wrap;
    align-items: center;
    display: inline-block;
  }

  .site-header nav {
    display: flex;
    justify-content: center;
  }

  .site-header h1 {
    display: inline;
    width: 100%;
  }

  .site-header ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .site-header ul li {
    margin: 0px;
  }

  .footer-bar nav {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .footer-bar h2 {
    display: inline;
    width: 100%;
  }

  .footer-bar ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
